<!-- https://itchief.ru/lessons/bootstrap-3/bootstrap-3-modal-window -->
<!-- HTML-код модального окна -->
<div id="confirm-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i>
                    </button>
                    Попередження
                </h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                Ви дійсно бажаєте видалити запис?
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">

                <a type="button" class="btn btn-primary btn-ok">Так</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>

            </div>
        </div>
    </div>
</div>